@font-face {
    font-family: hacked;
    src: url(../fonts/hacked.ttf);
}

body {
	background: #252525;
}

a {
    text-decoration: none;
    color: #000;
}

/*Верхняя линия*/
.headline {
	width: 100%;
	background: black;
	position: absolute;
	top: 0px;
	left: 0px;
}

.left {
	width: 20%;
	height: 5px;
	background: white;
	float: left;
        position: fixed;
}

.right {
	width: 80%;
	height: 5px;
	float: left;
}
/*Конец Верхняя линия*/

/*Меню*/
.menu {
	background: #000;
	width: 20%;
	min-height: 1500px;
	position: fixed;
	left: 0px;
	top: 8px;
	box-shadow: 1px 5px 10px #868686;
}

.menulogo {
	width: 80%;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 25px;
}

.logo {
	width: 100%;
	height: 200px;
	background: url("../img/logo.png")no-repeat center;
}

.underlogo {
    color: white;
    position: relative;
    top: -35px;
    text-align: center;
    font-size: 20px;
    font-family: roboto;
}

.categories {
	width: 100%;
	height: 400px;
	position: relative;
	top: 50px;
	border-top: 3px solid grey;
        border-radius: 10px;
}

.category {
	width: 100%;
	height: 50px;
	background: darkred;
	border-bottom: 3px solid grey;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    font-family: hacked;
    box-shadow: 1px 1px #252525;
    border-radius: 10px;
}

.category:hover {
    border-right: 5px solid orange;
    border-bottom: 3px solid orange;
    color: orange;
}

.dropdown {
    opacity: 0;
    pointer-events: none;
}

.category a:hover{
    color: orange;
    padding-bottom: 2px;
    padding-top: 2px;
}

.category li a:hover {
    color: orangered;
}

.category:hover .dropdown {
    opacity: 1;
    pointer-events: auto;
    list-style: none;
    font-size: 30px;
    text-align: left;
}

#dropdown:hover {
    height: 200px;
}

.social {
	width: 100%;
	height: 60px;
        margin-top: 135px;
        margin-bottom: 10px;
}

.social img {
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
    float: left;
    margin-left: 18px;
    margin-right: 5px;
}

.copyright {
	width: 100%;
	height: 15px;
        color: #fff;
        text-align: center;
}
/*Конец Меню*/

/*Баннер*/
.banner {
	width: 80%;
	height: 400px;
	background: darkorange;
	position: relative;
	left: 20%;
        top: 10px;
        border-radius: 10px;
}

#slides {
 position: relative;
 height: 100%;
 padding: 0px;
 margin: 0px;
 list-style-type: none;
}

.slide {
 position: absolute;
 left: 0px;
 top: 0px;
 width: 100%;
 height: 100%;
 opacity: 0;
 z-index: 1;
 border-radius: 10px;

 -webkit-transition: opacity 1s;
 -moz-transition: opacity 1s;
 -o-transition: opacity 1s;
 transition: opacity 1s;
}

.showing {
 opacity: 1;
 z-index: 2;
}

.slide:nth-of-type(1) {
 background: url("../img/vrbanner.jpg");
}
.slide:nth-of-type(2) {
 background: url("../img/robotbanner.jpg");
}
.slide:nth-of-type(3) {
 background: url("../img/hackerbanner.jpg");
}
/*Конец Баннер*/

/*Инорфмационный блок*/
.info {
	width: 80%;
	min-height: 500px;
	background: #151515;
	position: relative;
	left: 20%;
	top: 20px;
        border-radius: 10px;
}

/*-Приветствие*/
.welcome {
    width: 100%;
}

.welcome p {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 40px;
    color: #fff;
    font-family: hacked;
}

.welcomeText {
    color: #fff;
    font-family: arial;
    font-size: 20px;
    text-align: center;
}

.welcomeText a {
    font-family: roboto;
    font-size: 40px;
    color: darkred;
}

.welcomeText a:hover {
    color: orange;
    font-family: hacked;
    font-size: 50px;
}
/*-Конец Приветствие*/

/*-Выбор квестов*/
.quests {
    width: 90%;
    height: 400px;
    position: relative;
    top: 25px;
    left: 5%;
    right: 5%;
}

.questList {
    width: 30%;
    height: 400px;
    background: #1b1b1b;
    margin-left: 2%;
    margin-right: 1%;
    float: left;
    border: 1px solid #fff;
    border-radius: 20px;
    box-shadow: 2px 2px #333;
}

#middleQuest {
    margin-left: 2%;
    margin-right: 1%;
}

.questList img {
    min-width: 80%;
    min-height: 250px;
    max-width: 85%;
    max-height: 250px;
    margin-left: 7.5%;
    margin-top: 30px;
    border-radius: 20px;
}

.questList p {
    font-size: 45px;
    font-family: hacked;
    text-align: center;
    margin-top: 30px;
    color: #fff;
}

.questList:hover {
    border: 1px solid orange;
    color: orange !important;
}

.questList:hover p{
    color: orange !important;
}

.questList:hover hr{
    background-color: orange;
    color: orange;
    border: none;
    height: 1px;
}

.vline {
    width: 80%;
    height: 3px;
    border-radius: 30px;
    background: white;
}

.questName {
    color: #fff;
    font-size: 40px;
    font-family: hacked;
}
/*-Конец Выбор квестов*/

/*Обратная связь*/
.fb {
    width: 70%;
    height: 300px;
    background: #252525;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    margin-top: 40px;
}

.fbleft {
    width: 30%;
    height: 220px;
    float: left;
    margin-left: 4%;
}

.fbright {
    width: 60%;
    height: 220px;
    float: left;
}

.fbfields {
    width: 68%;
    height: 50px;
    background: #dadada;
    border-radius: 7px;
    margin-left: 12.5%;
    margin-top: 13%;
    font-size: 25px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    border: 0;
}

.fbfields:hover {
    background: #fff;
}

.fbmessage {
    width: 90%;
    height: 150px;
    background: #dadada;
    border-radius: 7px;
    margin-left: 2.5%;
    margin-top: 6%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    border: 0;
}

.fbmessage:hover {
    background: #fff;
}

.fbsend {
    float: right;
    width: 12%;
    height: 40px;
    border-radius: 7px;
    background: darkred;
    color: #fff;
    border: 0;
    margin-right: 8%;
    font-size: 18px;
}

.fbsend:hover {
    color: #000;
    background: orange;
}
/*Конец Обратная связь*/

/*Блог*/
.bcontainer {
    width: 75%;
    min-height: 250px;
    background: #252525;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
}

.post {
    width: 85%;
    min-height: 200px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.article {
    width: 95%;
    min-height: 100px;
    background: #151515;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.btitle {
    font-size: 30px;
    color: orange;
}

.btext {
    font-size: 20px;
}

.bdate {
    float: right;
    color: #676767;
    font-size: 15px;
}

.bcomments {
    width: 95%;
    min-height: 100px;
    padding: 10px 2.5% 10px 2.5%;
}

.bctitle {
    font-size: 30px;
}

.bcname {
    font-size: 25px;
    color: darkred;
    font-family: hacked;
}

.bctext {
    font-size: 20px;
}

.newcomment {
    width: 95%;
    min-height: 220px;
    background: #1b1b1b;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    color: darkorange;
}

.cname {
    width: 20%;
    height: 25px;
    border-radius: 10px;
    margin-left: 1.5%;
    background: #dadada;
    padding-left: 1%;
    padding-right: 1%;
}

.cname:hover {
    background: #fff;
}

.ctext {
    width: 95%;
    min-height: 50px;
    border-radius: 10px;
    margin-left: 1.5%;
    background: #dadada;
    padding-left: 1%;
    padding-right: 1%;
}

.ctextp {
    width: 20%;
    height: 25px;
    border-radius: 10px;
    margin-left: 1.5%;
    background: #dadada;
    padding-left: 1%;
    padding-right: 1%;
}

.ctextp:hover {
    background: #fff;
}

.ctext:hover {
    background: #fff;
}

.csend {
    float: right;
    width: 25%;
    height: 35px;
    border-radius: 7px;
    background: darkred;
    color: #fff;
    border: 0;
    margin-right: 3%;
    font-size: 18px;
}

.csend:hover {
    color: #000;
    background: orange;
}
/*Конец Блог*/

/*Квесты*/
.qcontainer {
    width: 75%;
    min-height: 200px;
    background: #101010;
    padding: 10px 2.5% 10px 2.5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    color: #fff;
    font-family: roboto;
    border-radius: 10px;
}

.orderbox {
    width: 20%;
    height: 150px;
    background: #151515;
    font-size: 20px;
    padding-left: 2%;
    padding-top: 5px;
    border-radius: 10px;
}

.oinput {
    width: 87%;
    height: 30px;
    background: #dadada;
    font-size: 20px;
    margin-top: 5px;
    border-radius: 10px;
}

.osend {
    width: 45%;
    height: 30px;
    border: 0;
    background: orange;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 20px;
}
/*Конец Квесты*/

/*Конец Инорфмационный блок*/